<div>
    <div>
        <label for="">Account Name</label>
        <input 
           type="text"
           #accountName
           >
    </div>
    <div>
        <select name="" id="" #status>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="hidden">Hidden</option>            
        </select>
    </div>
    <button
        (click)="onCreateAccount(accountName.value, status.value)">
        Add Account
    </button>
</div>
